<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    <div>
        <input id="File1" type="file" name="file"/>

        <input type="radio" value="scrapy" name="type" id="scrapy">
        <label for="scrapy">scrapy</label>
        <input type="radio" value="portia" name="type" id="portia">
        <label for="portia">portia</label>
        <input type="submit">提交</input>
    </div>
</form>
</body>
</html>