<div class="col-md-3">
  <input type="hidden" value="{{name}}" id="spider_name">
  部署到的实例
  {% for machine in machines %}
  {{machine}}
  {% endfor %}
  <button type="button" class="btn btn-info  btn-sm btn-block" id="deploy_spider_button" data-toggle="modal"
          data-target="#deploy_spider">部署到新实例
  </button>
  <br>
  <button type="button" class="btn btn-danger  btn-sm btn-block" id="del_spider_button">删除该爬虫
  </button>
</div>
<div class="col-md-9">
  <button class="btn btn-success btn-block" id="start-all">在所有实例上运行爬虫</button>
  <button class="btn btn-warning btn-block" id="stop-all">在所有实例上结束爬虫</button>
  <button class="btn btn-danger btn-block" id="del-all">在所有实例上删除此爬虫</button>
</div>


<!-- Modal -->
<div class="modal fade" id="deploy_spider" tabindex="-1" role="dialog" aria-labelledby="add_spider_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deploy_spider_label">部署爬虫</h4>
      </div>
      <div class="modal-body">
        <ul id="ips" class="list-group">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="deploy_finish">保存</button>
      </div>
    </div>
  </div>
</div>


<script>
  $("#deploy_spider_button").on('click', function () {
    $.ajax({
      type: 'POST',
      url: "{% url 'ajax_machines' %}",
      data: {'name': $(event.target).text()},
      success: function (rec) {
        $("#ips").html("")
        $.each(rec['ips'], function (index, element) {
          $("#ips").append("<li class='list-group-item'>" + element + " <button class='btn btn-sm deploy'>部署到该服务器</button></li> ")
        })
      }
    });
  });

  $("#deploy_spider").on('click', ".deploy", function (event) {
    var name = $("#spider_name").val();
    var ip = $(event.target).closest("li").text().split(" ")[0]
    $.ajax({
      type: 'POST',
      url: "{% url 'deploy_spider' %}",
      data: {name: name, ip: ip},
      success: function (rec) {
        if(rec["success"]){
            alert("部署成功！")
            window.location.reload();
        }else{
            alert("部署失败！可能已在该平台部署。")
        }
      }
    });
  })
  
  $("#start-all").on('click',function (event) {
      start_group_on_all($("#status_title").text().substring(0,$("#status_title").text().length-2))
  })
  $("#stop-all").on('click',function (event) {
      stop_group_on_all($("#status_title").text().substring(0,$("#status_title").text().length-2))
  })
  $("#del-all").on('click',function (event) {
      $.ajax({
      type: 'POST',
      url: "{% url 'del_deployed_spider' %}",
      data: {name: $("#status_title").text().substring(0,$("#status_title").text().length-2)},
      success: function (rec) {
        if(rec["success"]){
            alert("删除成功！")
            window.location.reload();
        }else{
            alert("删除失败！")
        }
      }
    });

  })

   $("#del_spider_button").on('click',function (event) {
      $.ajax({
      type: 'POST',
      url: "{% url 'del_spider' %}",
      data: {name: $("#status_title").text().substring(0,$("#status_title").text().length-2)},
      success: function (rec) {
        if(rec["success"]){
            alert("删除成功！")
            window.location.reload();
        }else{
            alert("删除失败！")
        }
      }
    });

  })
</script>
